/*!
 * Hamburger menu style
 * Based on the styling from Sesame.com
 */

.hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 1s;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  --hamburger-height: 0.7rem;
  --hamburger-width: 1.3rem;
  display: block;
  width: var(--hamburger-width);
  height: var(--hamburger-height);
  position: relative;
}

.hamburger-box:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--hamburger-width) * 1.5);
  height: calc(var(--hamburger-width) * 1.5);
}

.hamburger-inner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.hamburger-inner:before,
.hamburger-inner:after {
  position: absolute;
  content: "";
  height: 3px;
  border-radius: 3px;
  left: 0;
  width: 100%;
  background: rgb(var(--color-main-text));
}

.hamburger-inner:before {
  top: 0;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner:after {
  bottom: 0;
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.hamburger.is-active .hamburger-inner {
  transform: rotate(180deg);
}

.hamburger.is-active .hamburger-inner:before {
  --transition-y: calc(var(--hamburger-height) * 0.5 - 50%);
  transform: translateY(var(--transition-y)) rotate(45deg);
}

.hamburger.is-active .hamburger-inner:after {
  --transition-y: calc(-0.5 * var(--hamburger-height) + 50%);
  transform: translateY(var(--transition-y)) rotate(-45deg);
}
